<?xml version="1.0" encoding="utf-8"?>

<config>
    <Listen>
        <host>127.0.0.1</host>
        <port>12345</port>
    </Listen>
    <logical_host>
        <name>10.194.70.225</name>
        <port>13579</port>
        <conns>5</conns>
    </logical_host>
    <logical_host>
        <name>10.194.70.79</name>
        <port>13579</port>
        <conns>5</conns>
    </logical_host>
</config>